/* RATINGS */
.component-ratings {
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 20px;
}
.ratings-item .span-star b {
    font-size: 40px;
    color: #fd9727;
    line-height: 40px;
}
.ratings-item .class-star {
	font-size: 40px;
    color: #fd9727;
    line-height: 40px;
}
.component-ratings .left-ratings {
	width: 17%;
    float: left;
    border-right: solid 1px #eee;
    padding-top: 31px;
    height: 90%;
    text-align: center;
    box-sizing: border-box;
    margin: 5px 10px 5px 5px;
}
.component-ratings .right-ratings {
	font-size: 13px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 0;
    width: 45%;
    float: left;
    border-right: solid 1px #eee;
}
.i-star {
	width: auto;
    float: left;
}
.line-before {
	width: 55%;
    background-color: #e9e9e9;
    height: 5px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
}
.line-before .bgb-in {
    background-color: #f25800;
    background-image: linear-gradient(90deg,#ff7d26 0%,#f25800 97%);
    height: 5px;
    border-radius: 5px 0 0 5px;
    max-width: 100%;
}
.list-ratings .total-ratings {
	display: inline-block;
    color: #288ad6;
    cursor: pointer;
}
.button-ratings-end {
	display: block;
    width: 200px;
    margin: 41px auto 0;
    padding: 10px;
    color: #fff;
    background-color: #288ad6;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    border: none;
}
.component-right-ratings {
	padding: 1px 20px;
}
.choose-ratings {
	display: fex;
	margin-bottom: 15px;
	font-size: 15px
}
.choose-list-ratings {
	margin: 0 15px;
}
.p-choose-ratings {
	float: left
}
.choose-list-ratings .fa:hover {
    color:#fdd504
}
.title-choose-ratings {
    background: #f1c40f;
    border-radius: 2px;
    padding: 0 5px;
    border: 1px solid #f1c40f;
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    margin: 5px 0 0 10px;
    color: #fff;
    display: none;
}
.ratings-active {
    color: #f1c40f;
}
.form-ratings.active {
    display: block;
}
.button-submit-ratings {
    margin-top: 15px;
}

/* BÀI VIẾT */
.article {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    display: flex
}
.article_info {
    width: 80%;
    margin-left: 20px
}
.article_info h2 {
    font-size: 14px
}
.article_info p {
    font-size: 13px
}
.article_avatar a img {
    width: 200px;
    height: 120px;
}
/* CHI TIẾT BÀI VIẾT */
.article_content h2 { font-size: 1.4rem}
        .article_content h1 { font-size: 18px !important;line-height: 24px}
        .article_content  { font-family:  Roboto, sans-serif;}

/* SẢN PHẨM LIÊN QUAN */
.products-with-related img {
    width: 263px;
    height: 263px;
}
/* GIỎ HÀNG */
.cart-area-start td img {
    width: 80px;
}
.total-cart {
    text-transform: none;
}
/* THANH TOÁN */
.panel-body h6 {
    text-transform: none;
}